*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.logo-mario {
height: 200px;
width: 320px;
}

button {
    background-color: #C51111;
    color: white;
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 25px;
}

button:hover{
    background-color: seagreen;
    transition: 0.5 ease-in-out;
}


.imagem-mario-luigi{
    height: 300px;
    width: 250px;
}

body{
height: 100vh;   
}

.caixa-mae{
    display: flex;
    padding: 100px;
    color: white;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}
.caixa-principal{
    width: 40%;

}
.caixa-video{
    top: 0;
    position: fixed;
    z-index: -1;
}

video{  
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0%;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}
.link-whatsapp img {
    width: 45px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    
}
.header{
display: flex;
align-items: center;
gap: 50px;
margin: 25px;
}
.header img {
    height: 60px;
}
.header a {
    color: white;
    cursor: pointer;
    font-size: 15px;
}
.header a:hover{
    color: #C51111;
    font-size: 15px;
    transition: 0.5s  ease-in-out;
}

.formulario-fale-conosco{
    color:white ;
    background-color: #3c61c4;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -300px;
    padding: 20px;
    border-radius: 5px;
    gap: 15px;
}

input{
    height: 40px;
    border-radius: 7px ;
    padding-left: 5px;
    outline-color: #c1851d;
}

textarea{
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid   gray;
    padding-left: 5px;
    outline-color : #c1851d; 
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0%;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}